.EditAppBox {
  &::-webkit-scrollbar-thumb {
    background: #dfe2ea !important;
    transition: background 1s;
  }
  &::-webkit-scrollbar {
    // background: rgb(215, 0, 15, 0.2);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--chakra-colors-gray-300) !important;
  }
}
